* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*button*/
.register-btn {
    background-color: #2957f0; /* Change to your desired button color */
    color: white;
    border: 15px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

header{
    background-color: #f8f7ff; /* Change to your desired background color */
    padding: 10px;
    width: 100%;
    height: 20%;
    padding-bottom: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f7ff; /* Change to your desired background color */
    max-width: 1200px;
    margin: 0 auto;

}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-right: 20px;
    padding: 10px;
}
nav ul li :hover{
    color: #a37a7a; /* Change to your desired hover color */
}
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 30px;
    width: auto;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}


body{
    background-color: #ffffff;
}